<div class="container custom_container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <img src="assets/imgs/logo.png" class="img-responsive"/>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center bigforgetpassword">
                Forget Your password?
            </div>
            <div class="text-center">
                Enter your email below to reset password
            </div>
        </div>
    </div>
    <br><br>
    <!--- field -->
    <div class="form-group">

        <div class="input-group">
                           <span class="input-group-addon glyphiconemail">
                            </span>
            <input type="text" class="form-control" placeholder="Your Email"/>
        </div>
    </div>
    <!-- field close -->
    <!--- field -->

    <br>
    <!-- field close -->



    <div class="row">
        <div class="col-xs-6">    <button  class="btn  btn-default btn-block increaseborder">Submit</button>
        </div>
        <div class="col-xs-6">    <button class="btn  btn-default btn-block increaseborder">Cancel</button>
        </div>

    </div>



</div>
</div>