<div class="modal-header">
    <h3 class="modal-title" style="color: #000000">{{items.alertHeaderText}}</h3>
</div>

<div class="modal-body" style="color: #000000;font-size: 15px" ng-bind-html="items.alertMessage" ng-if="items.alertMessage!=null"></div>


<div class="modal-footer" style="text-align: center">
    <button  ng-show="showOk" ng-click="ok()" class="btn popupBtn" style="color: #000000;">{{items.OK_ButtonText}}</button>
    <button  ng-show="showCancel" ng-click="cancel()" class="btn popupBtn" style="color: #000000;">{{items.cancelText}}</button>
</div>



