< class="anim-slide-left container custom_container">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <img src="assets/imgs/logo.png" class="img-responsive"/>
        </div>
    </div>
</div>
<br><br>
<form ng-submit="signIUp();">
    <!--- field -->
    <div class="form-group">

        <div class="input-group">
                           <span class="input-group-addon glyphiconemail">
                            </span>
            <input type="text" class="form-control" placeholder="First name" ng-model="signUpFeilds.fname"/>
        </div>
    </div>
    <!-- field close -->
    <!--- field -->
    <div class="form-group">

        <div class="input-group">
                           <span class="input-group-addon glyphiconpass">
                            </span>
            <input type="text" class="form-control" placeholder="Last Name" ng-model="signUpFeilds.lname"/>
        </div>
    </div>
    <div class="form-group">

        <div class="input-group">
                           <span class="input-group-addon glyphiconpass">
                            </span>
            <input type="text" class="form-control" placeholder="Email Address" ng-model="signUpFeilds.email"/>
        </div>
    </div>
    <div class="form-group">

        <div class="input-group">
                           <span class="input-group-addon glyphiconpass">
                            </span>
            <input type="text" class="form-control" placeholder="Phone Number" ng-model="signUpFeilds.phno"/>
        </div>
    </div>
    <div class="form-group">

        <div class="input-group">
                           <span class="input-group-addon glyphiconpass">
                            </span>
            <input type="password" class="form-control" placeholder="Create password" ng-model="signUpFeilds.pwd"/>
        </div>
    </div>
    <br>
    <!-- field close -->

    <button type="submit" class="btn  btn-default btn-block increaseborder">Create your account</button>
</form>
<div class="underline-div margintop4">
  <span class="underline-span">
    Or sign in with
  </span>
</div>
<br>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-2  facebook"></div>
    <div class="col-xs-2  google"></div>
    <div class="col-xs-2  twitter"></div>
    <div class="col-xs-3"></div>
</div>


<br>

</div>
</div>