.increaseborder{
    border-color: #696464;
    background-color: transparent !important;
    padding: 10px 12px !important;
    border: 2px solid #333 !important;
}
a{
    color: #2d2d2d !important
}
.margintop2{
    margin-top: 2%;
}
.margintop4{
    margin-top: 4%;
}
body{
    background:#EFFFD2 url('../imgs/water-mark.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.underline-div{
   height: 1px;
    background-color: black;
    text-align: center;
}
.underline-span{
    background-color: #EFFFD2;
    padding: 0px 15px;
    position: relative;
    top: -0.7em;
    color: blue;
    font-size: x-large;

}
.form-control {
    padding-right: 30px;
    border: 0;
    background: transparent;
    box-shadow: none;
}
.form-group {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #000;
    box-shadow: none;
}
.input-group-addon:first-child {
   border: none;
}
.glyphiconemail{
    background: url('../imgs/username.png') no-repeat;
    background-position: center center;
}
.glyphiconpass{
    background: url('../imgs/password.png') no-repeat;
    background-position: center center;
}

/*--------------- custom css ---------------------*/
::-webkit-input-placeholder {
    color: #333333!important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333333!important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #333333!important;
}

:-ms-input-placeholder {
    color: #333333!important;
}

.padding_2x {
    margin: 0px 2% 0 0;
}

.facebook {
   background: url('../imgs/facebook.png') no-repeat center center;
   background-size: contain;
    height: 90px;
}.google {
     background: url('../imgs/google.png') no-repeat center center;
     background-size: contain;
     height: 90px;
 }
.twitter {
    background: url('../imgs/twitter.png') no-repeat center center;
    background-size: contain;
    height: 90px;
}


.custom_container {
padding-left: 40px;
padding-right: 40px;
margin-top: 50px;
}

.form-control:focus {
    border: none;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn{
    font-size: 18px;
    line-height: 1.828571429;
    border-radius: 11px;
}
.form-group{
    margin-top: 3.5%;
}
.bigforgetpassword{
    color: blue;
    font-size: xx-large;
    font-weight: bold;
}