<div class="anim-slide-left container custom_container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <img src="assets/imgs/logo.png" class="img-responsive"/>
            </div>
        </div>
    </div>
    <br><br>

    <form ng-submit="signIn();">
        <!--- field -->
        <div class="form-group">

            <div class="input-group">
                           <span class="input-group-addon glyphiconemail">
                            </span>
                <input type="text" class="form-control" placeholder="Your name" ng-model="loginFields.name"/>
            </div>
        </div>
        <!-- field close -->
        <!--- field -->
        <div class="form-group">

            <div class="input-group">
                           <span class="input-group-addon glyphiconpass">
                            </span>
                <input type="text" class="form-control" placeholder="Your password" ng-model="loginFields.pwd"/>
            </div>
        </div>
        <br>
        <!-- field close -->


        <button type="submit" class="btn  btn-default btn-block increaseborder">Sign In</button>
    </form>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center margintop2">
                <a href="#/forgotPwd">Forgot your password ?</a>
            </div>
        </div>
    </div>
    <div class="underline-div margintop4">
  <span class="underline-span">
    Or sign in with
  </span>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-2  facebook"></div>
        <div class="col-xs-2  google"></div>
        <div class="col-xs-2  twitter"></div>
        <div class="col-xs-3"></div>
    </div>

    <div class="row margintop4">
        <div class="col-md-4 col-md-offset-4 ">
            <div class="text-center">
                Don't have an account
            </div>
        </div>
    </div>
    <button type="submit" ng-click="registerNow();" class=" margintop2 btn  btn-default btn-block increaseborder">
        Register Now
    </button>
    <br>

</div>
</div>